{% extends 'base.html.twig' %}

{% block title %}Biblioteka albumów muzycznych{% endblock %}

{% block content %}
    <div class="d-flex flex-column">
        <h1 class="h3 mb-3 font-weight-normal align-self-center">Biblioteka albumów muzycznych</h1>
        <div class="mb-3 align-self-center">
            <img src="{{ asset('build/images/musical-notes.png') }}" width="185" height="185" alt="music_book">
        </div>

        {% if error %}
            <div class="alert alert-danger col-3 align-self-center">Nieprawidłowy login lub hasło</div>
        {% endif %}
        
        <form method="post" class="align-self-center">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="inputUsername" class="h5 form-label">Login</label>
                    <input name="username" class="form-control" id="inputUsername" autocomplete="false" required>
                </div>
            </div>
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="inputPassword" class="h5 form-label">Hasło</label>
                    <input name="password" type="password" class="form-control" id="inputPassword" required>
                </div>
            </div>
            <div class="mb-3"></div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button type="submit" class="btn btn-primary">Zaloguj</button>
        </form>
    </div>
{% endblock %}
