<form method="post" action="{{ path('music_track_delete', {'id': musicTrack.id, 'idalbum': album.id}) }}" onsubmit="return confirm('Czy napewno chcesz usunąć ten utwór?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ musicTrack.id) }}">
    <button class="btn btn-sm btn-danger">Usuń</button>
</form>
