{% import "form_macros.html.twig" as macro %}

<form name="music_tracks" method="post">
    {{ macro.formRow(form.albumNum, '', 8) }}
    {{ macro.formRow(form.title, '', 8) }}
    {{ macro.formRow(form.artist, '', 8) }}

    <br>

    <div class="btn-group" role="group">
        <div class="btn-group me-2" role="group">
            <button class="btn btn-success" type="submit">{{ button_label|default('Zapisz') }}</button>
        </div>
        <div class="btn-group me-2" role="group">
            <a class="btn btn-outline-primary" href="{{ path('album_show', {'id': album.id }) }}">wróć do szczegółów albumu</a>
        </div>
    </div>

    {{ form_widget(form._token) }}
</form>
