{% extends 'base.html.twig' %}

{% block title %}Edycja utworu muzycznego{% endblock %}

{% block content %}
    <div class="d-flex flex-column">
        <h1>Edycja utworu muzycznego: {{ musicTrack.albumNum }}</h1>

        {{ include('music_track/_form.html.twig', {'button_label': 'Aktualizuj'}) }}
    </div>
{% endblock %}
