{% extends 'base.html.twig' %}

{% block title %}Nowy utwór muzyczny{% endblock %}

{% block content %}
    <div class="d-flex flex-column">
        <h1>Nowy utwór muzyczny</h1>

        {{ include('music_track/_form.html.twig') }}
    </div>
{% endblock %}
