<form method="post" action="{{ path('album_delete', {'id': album.id}) }}" onsubmit="return confirm('Napewno chcesz usunąć album?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ album.id) }}">
    <button class="btn btn-danger">Usuń</button>
</form>
