{% import "form_macros.html.twig" as macro %}

<form name="album_music_tracks" method="post">
    {{ macro.formRow(form.name, '', 8) }}
    {{ macro.formRow(form.mainArtist, '', 8) }}
    {{ macro.formRow(form.musicType, '', 8) }}
    {{ macro.formRow(form.medium, '', 8) }}
    {{ macro.formRow(form.producer, '', 8) }}
    {{ macro.formRow(form.yearOfMusic, '', 10) }}

    {% if form.musicTracks is defined %}
        <div class="form-group">
            {{ form_label(form.musicTracks) }}

            <div class="music-tracks-form">
                <script type="text/template" class="music_track_prototype">
                    <div class="row music-track-row">
                        <div class="col-md-2"></div>
                        <div class="col-md-5 music-track-item">
                            {{ macro.formRow(form.musicTracks.vars.prototype.albumNum, '', 9) }}
                            {{ macro.formRow(form.musicTracks.vars.prototype.title, '', 5) }}
                            {{ macro.formRow(form.musicTracks.vars.prototype.artist, '', 5) }}
                        </div>
                        <div class="col-md-5">
                            <button type="button" class="btn btn-outline-danger btn-sm remove-music-track">Usuń</button>
                        </div>
                    </div>
                    <hr class="col-md-5">
                </script>

                {{ form_errors(form.musicTracks) }}

                <div class="music-track-rows">
                    {% for musicTrack in form.musicTracks %}
                        <div class="row music-track-row">
                            <div class="col-md-2"></div>
                            <div class="col-md-5 music-track-item">
                                {{ macro.formRow(musicTrack.albumNum, '', 9) }}
                                {{ macro.formRow(musicTrack.title, '', 5) }}
                                {{ macro.formRow(musicTrack.artist, '', 5) }}
                            </div>
                            <div class="col-md-5">
                                <button type="button" class="btn btn-outline-danger btn-sm remove-music-track">Usuń</button>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-primary btn-sm float-right add-music-track">Dodaj</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <br>

    <div class="btn-group" role="group">
        <div class="btn-group me-2" role="group">
            <button class="btn btn-success" type="submit">{{ button_label|default('Zapisz') }}</button>
        </div>
        <div class="btn-group me-2" role="group">
            <a class="btn btn-outline-primary" href="{{ path('album_index') }}">wróć do listy</a>
        </div>
    </div>
    {{ form_widget(form._token) }}
</form>