{% extends 'base.html.twig' %}

{% block title %}Edycja albumu{% endblock %}

{% block additionalScripts %}
    <script>
        $(function () {
            $.app_music_track_form.init();
        });
    </script>
{% endblock %}

{% block content %}
    <div class="d-flex flex-column">
        <h1>Edycja albumu</h1>

        {{ include('album/_form.html.twig', {'button_label': 'Aktualizuj'}) }}
    </div>
{% endblock %}
