{% extends 'base.html.twig' %}

{% block title %}Lista albumów muzycznych{% endblock %}

{% block content %}
    <h1>Lista albumów muzycznych</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nazwa</th>
            <th>Główny artysta</th>
            <th>Rodzaj muzyki</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th>Użytkownik</th>
            {% endif %}
            <th>akcje</th>
        </tr>
        </thead>
        <tbody>
        {% for album in albums %}
            <tr>
                <td>{{ album.id }}</td>
                <td>{{ album.name }}</td>
                <td>{{ album.mainArtist }}</td>
                <td>{{ album.musicType }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>{{ album.user.username }}</td>
                {% endif %}
                <td>
                    <div class="btn-group" role="group">
                        <div class="btn-group me-2" role="group">
                            <a class="btn btn-outline-primary" href="{{ path('album_show', {'id': album.id}) }}">szczegóły</a>
                        </div>
                        <div class="btn-group me-2" role="group">
                            <a class="btn btn-info" href="{{ path('album_edit', {'id': album.id}) }}">edytuj</a>
                        </div>
                        <div class="btn-group me-2" role="group">
                            {{ include('album/_delete_form.html.twig') }}
                        </div>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">brak danych</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('album_new') }}">Dodaj</a>
{% endblock %}
