{% extends 'base.html.twig' %}

{% block title %}Nowy album muzyczny{% endblock %}

{% block additionalScripts %}
     <script>
         $(function () {
             $.app_music_track_form.init();
         });
     </script>
{% endblock %}

{% block content %}
    <div class="d-flex flex-column">
        <h1>Utwórz nowy album muzyczny</h1>

        {{ include('album/_form.html.twig') }}
    </div>
{% endblock %}
