{% extends 'base.html.twig' %}

{% block title %}Album muzyczny{% endblock %}

{% block content %}
    <h1>Album</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>ID</th>
            <td>{{ album.id }}</td>
        </tr>
        <tr>
            <th>Nazwa</th>
            <td>{{ album.name }}</td>
        </tr>
        <tr>
            <th>Główny artysta</th>
            <td>{{ album.mainArtist }}</td>
        </tr>
        <tr>
            <th>Typ muzyki</th>
            <td>{{ album.musicType }}</td>
        </tr>
        <tr>
            <th>Nośnik</th>
            <td>{{ album.medium }}</td>
        </tr>
        <tr>
            <th>Producent</th>
            <td>{{ album.producer }}</td>
        </tr>
        <tr>
            <th>Rok wydania</th>
            <td>{{ album.yearOfMusic ? album.yearOfMusic|date("Y") : '' }}</td>
        </tr>
        <tr>
            <th>Data utworzenia wpisu</th>
            <td>{{ album.created ? album.created|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Utwory muzyczne</th>
            <td>
                <table class="table mb-0">
                    {% if album.musicTracks is not empty %}
                        <tr>
                            <th>Nr albumu</th>
                            <th>Tytuł</th>
                            <th>Artysta</th>
                            <th>akcje</th>
                        </tr>
                        {% for musicTrack in album.musicTracks %}
                            <tr>
                                <td>{{ musicTrack.albumNum }}</td>
                                <td>{{ musicTrack.title }}</td>
                                <td>{{ musicTrack.artist }}</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <div class="btn-group me-2" role="group">
                                            <a class="btn btn-sm btn-info" href="{{ path('music_track_edit', {'id': musicTrack.id, 'idalbum': album.id}) }}">Edytuj</a>
                                        </div>
                                        <div class="btn-group me-2" role="group">
                                            {{ include('music_track/_delete_form.html.twig') }}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </table>
                <a class="btn btn-sm btn-success" href="{{ path('music_track_new', {'idalbum': album.id}) }}">Dodaj utwór</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="btn-group" role="group">
        <div class="btn-group me-2" role="group">
            <a class="btn btn-primary" href="{{ path('album_index') }}">Wróć do listy</a>
        </div>
    </div>
{% endblock %}
