<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Biblioteka albumów muzycznych{% endblock %}</title>
    <link rel="icon" href="data:,">
    {% block stylesheets %}
        <link href="{{ asset('libs/bootstrap/css/bootstrap-reboot.min.css') }}" rel="stylesheet">
        <link href="{{ asset('libs/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('build/css/styles.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body class="d-flex flex-column min-vh-100">
{% block body %}
    {% if app.user %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="{{ asset('build/images/musical-notes.png') }}" alt="icon"
                                                      width="45" height="45"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('album_index') }}">Albumy</a>
                        </li>
                    </ul>
                    <span class="navbar-text">Jesteś zalogowany jako: {{ app.user.username }} <a
                                href="{{ path('app_logout') }}">Wyloguj</a></span>
                </div>
            </div>
        </nav>
    {% endif %}
    <div class="wrap container">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block content %}{% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('libs/jquery/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ asset('libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('build/js/main.js') }}"></script>
    {% block additionalScripts %}{% endblock %}
{% endblock %}
</body>
<footer class="mt-auto">
    {% block footer %}
        <div class="container">
            <div>Autor aplikacji: Weronika Wołoszyk</div>
            <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a
                        href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        </div>
    {% endblock %}
</footer>
</html>
