{% macro formRow(name, class, width, hide, variables) %}
    <div class="form-group{% if class %} {{ class }}{% endif %}"{% if hide %} style="display:none"{% endif %}>
        {{ form_errors(name) }}

        {% if width and width < 12 %}
            <label class="{% for cl in name.vars.label_attr['class']|split(' ') %}{% if "col-" not in cl %}{{ cl }} {% endif %}{% endfor %}col-md-{{ width }}"
                   for="{{ name.vars.id }}">
                {{ name.vars.label|trans }}
            </label>
            <div class="col-md-{{ 12-width }}">
                {{ form_widget(name, variables|default({})) }}
            </div>
        {% else %}
            {{ form_label(name) }}
            <div class="col-md-5">
                {{ form_widget(name, variables|default({})) }}
            </div>
        {% endif %}
    </div>
{% endmacro %}