{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nie znaleziono strony</h1>

    <p>Sprawdź poprawność urla lub <a href="{{ path('app_login') }}">wróć do strony logowania</a>.</p>
{% endblock %}

{% block footer %}{% endblock %}